[Unit]
Description=whawty-auth store sync timer

[Timer]
OnBootSec=30s
OnActiveSec=5s
OnUnitActiveSec=1m
AccuracySec=5s

[Install]
WantedBy=timers.target
