[Unit]
Description=whawty.auth authentication agent http sockets

[Socket]
Service=whawty-auth.service
FileDescriptorName=http
ListenStream=127.0.0.1:8080

[Install]
WantedBy=sockets.target
