body {
    background-color: #eee;
}

/*
 *
 * Login
 *
 */

.loginspacer {
    padding-top: 30px;
}

.form-auth {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-auth img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.form-auth .form-auth-heading {
  text-align: center;
  margin-bottom: 10px;
}
.form-auth .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form-auth .form-control:focus {
  z-index: 2;
}
.form-auth input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-auth input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-auth button[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*
 *
 * Main
 *
 */

.mainspacer {
  padding-top: 70px;
}

.text-center {
  text-align: center;
}

#admin-view .col-md-2, .col-md-4 {
  padding: 0.3em;
}

#user-list td {
  padding: 0.3em;
}

#user-list .btn {
  margin-left: 0.6em;
  margin-top: 0.3em;
}

#adduser-row {
  margin-bottom: 2em;
  padding: 0.3em;
}

#changepwform .progress {
  margin: 0.5em 1em 1.5em 1em;
}

#user-view .btn {
  margin-top: 2em;
}