#!/bin/bash

set -e

. /usr/share/debconf/confmodule

# only ask this question on fresh installs.
if [ "$1" = "configure" ] && [ -z "$2" ]; then
  while :; do
    RET=""
    db_input high whawty-auth-app/admin_password || true
    db_go
    db_get whawty-auth-app/admin_password
    # if password is empty we don't ask for verification
    if [ -z "$RET" ]; then
      break
    fi
    ADMIN_PW="$RET"
    db_input high whawty-auth-app/admin_password_again || true
    db_go
    db_get whawty-auth-app/admin_password_again
    if [ "$RET" == "$ADMIN_PW" ]; then
      ADMIN_PW=''
      break
    fi
    db_fset whawty-auth-app/password_mismatch seen false
    db_input critical whawty-auth-app/password_mismatch
    db_go
    db_fset whawty-auth-app/admin_password seen false
    db_fset whawty-auth-app/admin_password_again seen false
    db_set whawty-auth-app/admin_password ""
    db_set whawty-auth-app/admin_password_again ""
  done
fi
